html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size: 0,5rem;
  text-align: center;
  font-weight: 200;
}

canvas {
  display: block;
  margin: auto;
}  

ul li{
  display: inline;
}

ul{
  border-bottom:1px solid white;
  padding-bottom:0.5%;
}

li{
  border-left: solid white 1px;
  padding:0.5%;
}

h2{
  color:black;
  background-color: white;
  padding:0.5%;
  max-width: 20%;
  margin:auto;
  margin-top: 1%;
  font-weight: 500;

}

.question {
  position: absolute;
  right:0%;
  top:0%;
  font-weight: bolder;
  padding:1% 3%;
  background-color: transparent;
  border:none;
  color: white;
}

#text{
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

